<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataBase" value="MySql" />
    <add key="int" value="10" />
    <add key="float" value="0.99" />
    <!--<add key="mysql.dbmodel" value="server=127.0.0.1;database=dbmodel;PORT=3306;uid=root;pwd=sa;charset='utf8'"/>
        server=192.168.87.198;uid=sa;pwd=Oumind123;database=YiCheMallOrder;Max Pool Size=300;
    -->
    <!--<add key="mysql" value="server=123.57.44.101;user id=root;password=password1qaz@WSX;database=autolifecar;persist security info=true;charset=utf8" />-->
    <add key="mysql" value="server=127.0.0.1;user id=root;password=sa;database=movie_db;persist security info=true;charset=utf8" />
    <add key="sqlserver" value="server=127.0.0.1;user id=sa;password=sa;database=Log;persist security info=true;" />
    <add key="Log" value="server=127.0.0.1;user id=sa;password=sa;database=Log;persist security info=true;" />
    <add key="Report" value="server=127.0.0.1;user id=sa;password=sa;database=Report;persist security info=true;" />
    <add key="SQLLog" value="true" />
    <add key="SQLite" value="data source=D:\workspace\svn\Auto.Life.A2\virtual\CMS.db" />
    
    <!--↓↓↓↓Redis相关配置↓↓↓↓-->
    <!--Redis服务器集合（使用“,”隔开）  192.168.100.152:6379-->
    <add key="RedisWriteServers" value="127.0.0.1:6379" />
    <add key="RedisReadServers" value="127.0.0.1:6379" />
    <!--Redis服务器名称-->
    <add key="RedisWriteSentinelName" value="WriteMaster" />
    <add key="RedisReadSentinelName" value="ReadMaster" />
    <!--Redis连接池读写最大连接数-->
    <add key="RedisPoolMaxWrite" value="100" />
    <!--Redis连接池只读最大连接数-->
    <add key="RedisPoolMaxRead" value="100" />
    <!--↑↑↑↑Redis相关配置↑↑↑↑-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>